# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# Android-specific
build/
bin/
gen/
out/
.gradle/
local.properties
*.apk
*.aab
*.keystore
!debug.keystore

# iOS-specific
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
ios/Pods/

# React Native / Metro
.expo/
.expo-shared/
web-build/
.lock-wscript
.metro-cache/

# Environment variables (Sensitive data)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Tests
coverage/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
